/* Styles for the links */

a {
  position: relative;
  text-decoration: none;
}

a::after {
  border-radius: 1em;
  border-top: .1em solid #2F56B0;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0.14em;
  left: 0;
}

a:hover {
  text-decoration: none;
}
