/* Styles for the tooltips */

.title-tooltip {
  background: rgba(255,255,255,.9);
  border: 2px solid #457DFB;
  border-radius: .1em;
  font-size: 0.7em;
  padding: .25em .5em;
  position: absolute;
  bottom: 2em;
  left: calc(50% - 8em);
  text-align: center;
  width: 16em;
  z-index: 10;
}
